div(style='\
width: 100%;\
color: #373737;\
border-radius: 8px;\
border: 1px solid #eee;\
background: #f0f5fb;\
')
  div(style='padding: 0 40px 0; width: 550px; margin: auto')
    div(style='padding-bottom: 39px')
      div(style='text-align: right')
        img(src=`${bucket}/assets/imgs/logo-black.png`, alt='logo')
      div(style='font-weight: 900; font-size: 32px; line-height: 37px')
        | Login Verification
      div(style='margin-top: 32px')
        p(style='font-size: 16px; line-height: 25px')
          | Your verification code:
          br
          br
          b(style='color: #111111') #{code}
          br
          br
          |           Best,
          br
          | The CAPA Management Team
      div(style='margin-top: 32px')
        a(style='\
        height: 48px;\
        max-width: 100%;\
        background: #000000;\
        border: 1px solid #000000;\
        box-sizing: border-box;\
        border-radius: 5px;\
        font-size: 16px;\
        text-align: center;\
        color: #fff;\
        padding: 12px 220px;\
        ', href=`${url}`)
          | GO TO CAPA
    div(style='width: 50%')
      div
        p(style='\
        margin: 0;\
        font-weight: bold;\
        font-size: 13px;\
        line-height: 19px;\
        ')
          | NEED ASSISTANCE?
        p(style='margin: 0; font-size: 13px; line-height: 19px; color: #6e6f6f')
          | If you have questions regarding this email, or never requested this
          | offering, please contact: investors@capa.management
      div(style='margin-top: 32px')
        p(style='\
        margin: 0;\
        font-weight: bold;\
        font-size: 13px;\
        line-height: 19px;\
        ')
          | INVESTORS
        p(style='margin: 0; font-size: 13px; line-height: 19px; color: #6e6f6f')
          | 101 E Washington Street Ste. 300 Greenville, SC 29601
          | investors@capa.management 864-380-0114 864-276-7458 Visit now
          a(href='google', style='color: #111') capa.management.com
    div(style='text-align: right; margin-bottom: -5px')
      img(style='width: 42%', src=`${bucket}/assets/imgs/fund.png`, alt='fund')